<section class="container col-md-12">
	<div class='row'>
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header col-md-3">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a href="#/home" class="navbar-brand" translate='TITLE'>Weather Forecast by V.D.</a>
          </div>
            <!-- Collection of nav links and other content for toggling -->
          
            <div id="navbarCollapse" class="collapse navbar-collapse col-md-6">
                <ul class="nav navbar-nav">
                    <li><a href="#/home" translate='NAV_HOME'>Home</a></li>
                    <li class="active"><a href="#/about" translate='NAV_ABOUT'>About</a></li>
                    <li><a href="#/contact" translate='NAV_CONTACT'>Contact</a></li>
                </ul>
             </div>

            <div class="btn-group col-md-1">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span translate='NAV_LANGUAGE'>Language(english default)</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/about" ng-click="changeLanguage('en')">{{'BUTTON_LANG_EN' | translate}}</a></li>
                <li><a href="#/about" ng-click="changeLanguage('fr')">{{'BUTTON_LANG_FR' | translate}}</a></li>
              </ul>
            </div>
        </nav>
    </div>

	<div class="row about-jb">	    
		<div class="jumbotron col-md-10 col-md-offset-1">
			<h1 translate='NAV_ABOUT'>About</h1></br>
			<p translate='ABOUT_TEXT_1'>This website was made by Valentin DARRICAU, a french engineer student in computer science at <a href="http://www.enseirb-matmeca.fr/en">ENSEIRB-MATMECA</a> , Talence, France.</p>
			<p translate='ABOUT_TEXT_2'>This website use <a href='www.angularjs.org'>AngularJS</a> and <a href='http://getbootstrap.com'>Twitter Bootsrap</a> and the API given by <a href="http://openweathermap.org/API">openweathermap.org</a>.</p>
		</div>
	</div>
</section>

